/* !--------------------------------------------------------------------
MOMENTANEO */
#chat-area{
    height: 100%;
}
#chat-messages{
    background-color: rebeccapurple;
}

.row>*{
    /* background-color: lightseagreen; */
    border-right: 1px solid black;
}










/* *--------------------------------------------------------------------
STILE GENERICO */

/* * ROOT */
:root{
    /* ? COLORI */
    --bg-upper-part--bg-color:#009688;
    --bg-lower-part--bg-color: #d8dbd3;
    --primary-color:black;
    --aside--bg-color:#8ad3f1;
    --small-text--color:grey;
    --main--bg-color:white;
    --personal-messages--bg-color:#d5f9ba;


    /* ? DIMENSIONI */
    --bg-upper-part--height:15vh;
    --bg-lower-part--height:calc(100vh - var(--bg-upper-part--height));
    --main--width:80%;
}



/* * TAG HTML */
body{
    color: var(--primary-color);
    font-family: 'Lato';
}



/* * CLASSI */
.my-small-text{
    font-size: 0.8rem;
    color: var(--small-text--color);
}





/* *--------------------------------------------------------------------
STILE SPECIFICO */

/* * SEZIONE DELLO SFONDO */
#background .my-upper-part{
    background-color: var(--bg-upper-part--bg-color);
    height: var(--bg-upper-part--height);
}

#background .my-lower-part{
    background-color: var(--bg-lower-part--bg-color);
    height: var(--bg-lower-part--height);
}



/* * MAIN */
main{
    transform: translate(-50%,-50%);
    width: var(--main--width);
    height: 95vh;
    background-color: var(--main--bg-color);
}

main img{
    width: 3rem;
}

main aside{
    background-color: var(--aside--bg-color);
}


/* ? AREA DELLA CHAT */

#chat-messages{
    background-image: url('../assets/img/mine.jpg');
}

#chat-messages .my-personal-message{
    background-color: var(--personal-messages--bg-color);
}

#chat-messages .my-contact-message{
    background-color: var(--main--bg-color);
}










/* ?--------------------------------------------------------------------
RESPONSIVENESS */