<!DOCTYPE html>
<html lang="ita">
    <head>
        <!-- * META TAG GENERICI + TITLE TAG -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>



        <!-- * LINK CSS -->
        
        <!-- ? LINK ESTERNI -->

        <!-- * Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!--* Font Awersome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- * Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


        <!-- ? LINK INTERNI -->
        <link rel="stylesheet" href="css/style.css">



        <!-- * SCRIPT JS -->

        <!-- ? SCRIPT ESTERNI -->
        
        <!-- * Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js" type="text/javascript" defer></script>


        <!-- ? SCRIPT INTERNI -->
        <script src="js/script.js" type="text/javascript" defer></script>
    </head>



    <body>
        <div id="app">
            <!-- * BACKGROUND -->
            <div id="background">
                <div class="my-upper-part"></div>
                <div class="my-lower-part"></div>
            </div>





            <!-- * MAIN -->
            <main class="position-absolute top-50 start-50">
                <div class="row h-100 g-0">
                    <!-- ? CONTAINER DEI CONTATTI -->
                    <div class="col-4 h-100">
                        <div id="contacts-container" class="border-end g-0 h-100 d-flex flex-column">
                            <!-- * Info dell'account -->
                            <div class="py-2 ps-2 pe-3 align-items-center d-flex justify-content-between my-account-info">
                                <div class="w-75 d-flex align-items-center">
                                    <img src="assets/img/avatar_io.jpg" alt="aasddsf" class="rounded rounded-circle">
                                    <span>
                                        <span>Sofia</span>
                                    </span>
                                </div>
    
                                <div class="w-25 text-end">
                                    <i>i</i>
                                    <i>i</i>
                                    <i>i</i>
                                </div>
                            </div>
    
    
                            <!-- * Aside -->
                            <aside class="py-3 align-items-center d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <i class="my-icon fa-solid fa-bell-slash rounded rounded-circle ms-4 p-3 text-center rounded rounded-circle"></i>
                                    <span class="d-flex flex-column px-3">
                                        <span>Ricevi notifiche di nuovi messaggi</span>
    
                                        <span class="text-decoration-underline my-small-text">Attiva notifiche desktop</span>
                                    </span>
                                </div>
                            </aside>
    
    
                            <!-- * Navbar con searchbar -->
                            <nav class="navbar navbar-light bg-light">
                                <form class="w-100 d-flex mx-2 border-1 border">
                                    <button class="btn btn-outline-success rounded-1 my-btn my-small-text px-4 border-0" type="submit" @click.prevent ="findTheFirstVisibleContact()">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
    
                                    <input class="form-control border-0 my-input my-small-text rounded-1 fw-bold" type="text" placeholder="Cerca o inizia una nuova chat" v-model.trim="controlContactsValue" @keyup="controlPresenceInList(controlContactsValue)" @keyup.backspace="seeAllContacts(controlContactsValue)" @keyup.enter="findTheFirstVisibleContact()">
                                </form>
                            </nav>
    
    
                            <!-- * Contatti -->
                            <ul id="contacts" class="list-unstyled overflow-auto">
                                <li v-for="(contact,index) in contacts" @click = 'updateIndex(index)'>
                                    <article class="d-flex border-top py-2 pe-3" v-if="contact.visible">
                                        <div class="d-flex">
                                            <img :src=`assets/img/avatar${contact.avatar}.jpg` alt="aasddsf" class="rounded rounded-circle ms-3">
                                        </div>
                                        
                                        <div class="my-contact-info d-flex flex-column px-3 w-100">
                                            <div class="d-flex justify-content-between">
                                                <span>{{contact.name}}</span>
                                                <span class="my-small-text">12:00</span>
                                            </div>
        
                                            <span class="my-small-text">{{contact.messages[contact.messages.length-1].message}}</span>
                                        </div>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <!-- ? AREA DELLA CHAT -->
                    <div class="col-8 h-100">
                        <article id="chat-area">
                            <!-- * Info dell'account -->
                            <div class="py-2 px-2 pe-3 align-items-center d-flex justify-content-between my-account-info">
                                <div class="w-75 d-flex align-items-center">
                                    <img :src=`assets/img/avatar${contacts[activeContactIndex].avatar}.jpg` alt="aasddsf" class="rounded rounded-circle">
                                    <span class="d-flex flex-column px-3">
                                        <span>{{contacts[activeContactIndex].name}}</span>

                                        <span class="my-small-text">Ultimo accesso oggi alle 12:00</span>
                                    </span>
                                </div>
    
                                <div class="w-25 text-end">
                                    <i>i</i>
                                    <i>i</i>
                                    <i>i</i>
                                </div>
                            </div>


                            <!-- * Messaggi della chat -->
                            <article id="chat-messages" class="p-5 overflow-auto">
                                <div v-for="element in contacts[activeContactIndex].messages" class="my-message-container clearfix">
                                    <span class="my-message rounded rounded-3 px-3 py-2" :class="(element.status==='sent') ? 'my-personal-message' : 'my-contact-message'">{{element.message}}</span>
                                </div>
                            </article>


                            <!-- * Sezione invio messaggi -->
                            <div id="input-send-message-area" class="input-group py-2 d-flex align-items-center">
                                <div class="input-group-prepend">
                                  <i class="fa-regular fa-face-smile input-group-text px-4 bg-transparent border-0 my-icon"></i>
                                </div>

                                <input type="text" class="form-control my-small-text my-input" placeholder="Scrivi un messaggio" v-model.trim="newMessage" @keyup.enter="addElementToTheList(contacts[activeContactIndex].messages,newMessage,'sent');receiveMessage(contacts[activeContactIndex].messages,'ok','received')">

                                <div class="input-group-prepend">
                                    <i class="fa-regular fa-face-smile input-group-text px-4 bg-transparent border-0 my-icon"></i>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>